<section id="stats" class="row">
    <div class="card border">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 my-2 text-center">
                    <h6 class="card-subtitle mb-1 mt-1 text-muted">Time Logged Today</h6>
                    <p class="card-text fw-bold fs-4">{{ stats.logged_today }}</p>
                </div>

                <div class="col-md-3 my-2 text-center border-md-end">
                    <h6 class="card-subtitle mb-1 mt-1 text-muted">Time Remaining Today</h6>
                    <p class="card-text fw-bold fs-4">{{ stats.remaining_today }}</p>
                </div>

                <div class="col-md-3 my-2 text-center border-md-end">
                    <h6 class="card-subtitle mb-1 mt-1 text-muted">Estimated Finish Time</h6>
                    <p class="card-text fw-bold fs-4">{{ stats.estimated_finish_time }}</p>
                </div>
                
                <div class="col-md-3 my-2 text-center">
                    <h6 class="card-subtitle mb-1 mt-1 text-muted">Overtime</h6>
                    <p class="card-text fw-bold fs-4">{{ stats.overtime }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    (function() {
        const frame = document.currentScript.closest("dynamic-frame");

        // NOTE: We need this initialised to check to avoid adding the event listener
        // and interval each time the page refreshes
        // It's a bit hacky, would be good to have a better way to do this
        // Maybe `runOnce` and `run` functions?
        if (!frame.initialised) {
            // If any time data changes then update ourselves
            window.addEventListener("time:changed", e => frame.refresh());

            // TODO: Add this functionality to binderjs
            // TODO: Only do this while clocked in
            window.setInterval(() => {
                if (!document.hidden) frame.refresh();
            }, 30000);

            frame.initialised = true;
        }
    })();
</script>

<style>
    @media (min-width: 768px) {
        #stats > div.card > div.card-body > div.row > div:not(:last-child) {
            border-right: var(--bs-border-width) solid var(--bs-border-color);
        }
    }

    @media (max-width: 768px) {
        #stats > div.card > div.card-body > div.row > div:not(:last-child) {
			padding-bottom: 10px;
            border-bottom: var(--bs-border-width) solid var(--bs-border-color);
        }
    }
</style>
