{% extends "layouts/wrapper.html.j2" %}
{% block content %}
    <!-- Header Stats -->
    <dynamic-frame id="stats" :execute-scripts="true" :url="/frames/stats">
    </dynamic-frame>

    <div class="row mt-5 mb-3">
        <!-- Clock in/out Form -->
        <div class="col-md-6 mb-3 mb-md-0">
            <dynamic-frame class="d-block"
                        id="clock-form"
                        :execute-scripts="true"
                        :url="/frames/clock_in_form">
            </dynamic-frame>
        </div>

        {# Control which week we are viewing in the list #}
        {# NOTE: This does not impact the stats above #}
        <div class="col-md-6">
            <div id="week-control" class="d-flex align-items-end justify-content-end">
                <div class="input-group" style="width: auto">
                    <button data-type="prev" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left"></i>
                    </button>
                    <select class="form-select">
                        {% for week in week_list %}
                            <option value="{{ week }}">
                                {% if loop.index == 1 %}
                                    This Week
                                {% elif loop.index == 2 %}
                                    Last Week
                                {% else %}
                                    {{ loop.index - 1 }} weeks ago
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                    <button data-type="next" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Time Log Table -->
    <dynamic-frame id="log-table"
                   :execute-scripts="true"
                   :url="/frames/entries"
                   :param-week=""
                   :mount-point=".content">

        {# Spinner #}
        <div class="text-center">
            <div class="spinner-border d-none"
                 style="width: 3rem;
                        height: 3rem"
                 role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        {# Content #}
        <div class="content"></div>
    </dynamic-frame>

    <script>
        // Handle week change
        const weekControl = document.querySelector("#week-control");

        const frame = document.querySelector("#log-table");
        const select = weekControl.querySelector("select");

        const content = frame.querySelector(".content");
        const spinner = frame.querySelector(".spinner-border");

        select.addEventListener("change", async (e) => {
            content.classList.add("d-none");
            spinner.classList.remove("d-none");

            frame.setAttribute(":param-week", e.target.value);
            await frame.refresh();
            await setTimeout(() => {
                content.classList.remove("d-none");
                spinner.classList.add("d-none");
            }, 200);
        });

        weekControl.querySelectorAll("button").forEach(btn => {
            btn.addEventListener("click", (e) => {
                const selectedIndex = select.selectedIndex;
                const type = e.target.closest("button").getAttribute("data-type");

                if (type === "prev" && selectedIndex < select.options.length - 1) {
                    select.selectedIndex = selectedIndex + 1;
                    select.dispatchEvent(new Event("change"))
                } else if (type === "next" && selectedIndex > 0) {
                    select.selectedIndex = selectedIndex - 1;
                    select.dispatchEvent(new Event("change"))
                }
            });
        });
    </script>

    <style>
        #week-control select {
            background-image: none;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0px;
        }
    </style>
{% endblock content %}
